<div class="container" >
  <div class="ui-g">
    <div class="ui-g-12">
      <h3>PiGur</h3>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-2">
      <button pButton type="button" label="Random" (click)="getRandom()"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-sm-12 ui-md-6 ui-lg-6">
      <h4>Upload a file...</h4>
      <form name="fileUpload">
        <p-fileUpload name="file" url="/upload" accept="image/*" auto="auto" (onUpload)="onUpload($event)" (onBeforeUpload)="onBeforeUpload($event)"></p-fileUpload>
      </form>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataGrid [value]="images"
                  [paginator]="true"
                  [rows]="18"
                  [lazy]="true"
                  (onLazyLoad)="getLazyImages($event)"
                  [pageLinks]="5"
                  [totalRecords]="totalRecords">
        <template let-image let-i="index">
          <div class="ui-sm-12 ui-md-4 ui-lg-3 ui-xl-2" style="text-align: center;">
            <a href="/images/{{image.fileName}}"><img src="/images/thumbs/{{image.fileName}}"></a>
          </div>
        </template>
      </p-dataGrid>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <textarea></textarea>
    </div>
  </div>
</div>
<p-dialog header="Uploading..." [(visible)]="dialogVisible" modal="modal" width="300" responsive="true">
  Uploading...
</p-dialog>
